* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "mari&david";
    src: url("../fonts/maridavid.ttf");
}
body {
    background-image: url("../img/browntexture.jpg");
    padding-top: 50px;
    background-size: cover;
}
.header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    height: 194px;
    width: auto;
    position: relative;
    margin-top: -50px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -10px;
}
.header-coaster{
    background-image: url("../img/coaster.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -80px;
    left: -10px;
    height: 300px;
    width: 300px;
    z-index: 1200;
    text-align: center;
}
.header-date {
    font-family: "mari&david";
    font-size: 25pt;
}
.header-date-div {
    position: absolute;
    left: 75px;
    top: 205px;
    color: #fff;
    text-align: center;
    width: 160px;
}
.header-logo {
    width: 200px;
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;
}
.pseudo-align {
     display: inline-block;
     vertical-align: middle;
     height: 100%;
     width: 0;
 }
@media screen and (max-width:780px) {
    .header-items {
        display: none;
    }
}
.header-items {
    margin-left: 43.2%;
    margin-top: -4%;
}
.header-beer {
    height: 120px;
    width: 120px;
    margin-top: 1% !important;
}
.header-peanuts {
    height: 180px;
    width: 180px;
}
@media (min-width: 780px) {
    .navbar {
        background-image: url("../img/ductape.png");
        background-color: transparent !important;
        border-color: transparent !important;
        max-height: 140px !important;
        background-size: 100% 100%;
    }
}
.beads-left {
    margin-top: 7%;
}